.nav-rapper {
  display: flex;
  align-items: center;
  padding: 0px 2rem;
  height: 5em;
  background-color: #ffffff;
}
.nav-links-rapper{
  width: -webkit-fill-available;
    display: flex;
    justify-content: center
}
.center{
  display: flex;
    gap: 6rem;
}
.nav-links{
  text-decoration: none;
  color:black;
}
.nav-links:hover{
  color:#8a288f;
}
.nav-band-link{
  text-decoration: none;
  font-size: 2rem;
  color: #8a288f;
}
.disabled{
  pointer-events: none;
  cursor: default;
  opacity: .6;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
